body {
    background: #fff/*rgb(51, 102, 153)*/;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.title1{
    color: #000;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 2px 0 #bbb, 0 2px 0 #b9b9b9, 0 2px 0 #aaa, 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 2px 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.15);
}

.title2{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 2px 0 #bbb, 0 2px 0 #b9b9b9, 0 2px 0 #aaa, 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 2px 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.15);
}

#text{
    text-align: center;
}

#footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
}

#enter{
    width:140px;
    margin-left: auto;
    margin-right: auto;
}

.hangman-image{
    height: 200px;
    width: 100px;
    margin-left:  auto;
    margin-right: auto; 
}

.enclose1{
    text-align: center;
}

.letter_input{
    display: inline-block;
    padding-top: 20px; 
    width:50px;
}

.sub{
    padding-left: 20px;
    display: inline-block;
}

.right-wrong{
    text-align: center;
    color: #000;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 2px 0 #bbb, 0 2px 0 #b9b9b9, 0 2px 0 #aaa, 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 2px 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.15);
}

#error-message{
    text-align: center;
    color: #000;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 2px 0 #bbb, 0 2px 0 #b9b9b9, 0 2px 0 #aaa, 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 2px 2px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 2px 2px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.15);
}
